
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="10"  >  <!-- parallel = "true" -->
    <test name="PostProduction LMS API Automation">
         <classes> 
              <class name="lmsapiautomation.LMSGet" >
              </class> 
              <class name="lmsapiautomation.LMSPost" >
              </class> 
              <class name="lmsapiautomation.LMSPut" >
              </class> 
              <class name="lmsapiautomation.LMSDelete" >
              </class> 
              <class name="lmsapiautomation.LMSSchemaValidation" >
              </class> 
         </classes>
    </test>  
    <test name="PostProduction Jobs API Automation">
         <classes> 
              <class name="jobsapiautomation.JobsGet" >
              </class> 
              <class name="jobsapiautomation.JobsPost" >
              </class> 
              <class name="jobsapiautomation.JobsPut" >
              </class> 
              <class name="jobsapiautomation.JobsDelete" >  
              </class> 
              <class name="jobsapiautomation.JobsSchemaValidation" >  
              </class> 
        
         </classes>
    </test> 
</suite>



